<header class="header">
    <div class="container">

        <a routerLink="/" class="logo">
            Sistema Becas
        </a>
        
        <nav class="nav">

            <a routerLink="/">
                Inicio
            </a>

            @if (!authService.isAuthenticated()) {

                <a routerLink="/login" >
                    Iniciar sesión
                </a>

                <a routerLink="/registro">
                    Registrarse
                </a>

            } @else {

                <span class="welcome">
                    ¡Hola, {{authService.user()?.nombre}}!
                </span>

                @if (authService.isAdmin()) {
                    <a routerLink="/admin/dashboard">
                        Inicio
                    </a>

                    <a routerLink="/admin/convocatorias">
                        Convocatorias
                    </a>

                    <a routerLink="/admin/postulaciones">
                        Postulaciones
                    </a>
                }

                @if (authService.isAlumno()) {
                    <a routerLink="/alumno/dashboard">
                        Mi panel
                    </a>
                    <a routerLink="/alumno/mis-postulaciones">
                        Mis postulaciones
                    </a>
                    <a routerLink="/alumno/perfil">
                        Mi perfil
                    </a>
                }

                <button type="button" (click)="logout()">
                    Cerrar sesión
                </button>

            }

        </nav>

    </div>

</header>
