<header class="header">
    <div class="container">

        <a routerLink="/" class="logo">
            <img src="images/UTN_Institucional_Simbolo-Positivo.png" 
            class="LogoUTN" 
            alt="Logo UTN">
            <span>Sistema Becas</span>
        </a>
        
        <nav class="nav">
            <!-- IZQUIERDA: Navegacion general. Home -->
            <div class="nav-left">

                <a routerLink="/">
                    Inicio
                </a>

            </div>

            @if (!authService.isAuthenticated()) {
                <!-- DERECHA: Usuario no autenticado. -->
                <div class="nav-right">

                    <a routerLink="/login">
                        Iniciar sesión
                    </a>

                    <a routerLink="/registro">
                        Registrarse
                    </a>

                </div>

            } @else {
                <!--CENTRO: Usuario -->
                <div class="nav-center">

                    <span class="welcome">
                        ¡Hola, {{authService.user()?.nombre}}!
                    </span>

                </div>
                
                <div class="nav-right">
                    
                    @if(authService.isAdmin()) {

                        <a routerLink="/admin/dashboard">
                            Mi panel
                        </a>

                        <a routerLink="/admin/convocatorias">
                            Convocatorias
                        </a>

                        <a routerLink="/admin/Postulaciones">
                            Postulaciones
                        </a>

                    }

                    @if (authService.isAlumno()) {

                        <a routerLink="/alumno/dashboard">
                            Mi panel
                        </a>
                        
                        <a routerLink="/alumno/mis-postulaciones">
                            Mis postulaciones
                        </a>
                        
                        <a routerLink="/alumno/perfil">
                            Mi perfil
                        </a>

                    }

                    <button type="button" (click)="confirmLogout()">
                        Cerrar sesión
                    </button>

                    @if (showLogoutModal()) {

                        <div class="modal-overlay">

                            <div class="modal">

                                <h2>¿Cerrar sesión?</h2>

                                <p>
                                    ¿Estas seguro de que querés cerrar tu sesión?
                                </p>

                                <div class="modal-actions">

                                    <button
                                    type="button"
                                    class="btn-cancel"
                                    (click)="cancelLogout()">
                                    Cancelar
                                    </button>

                                    <button
                                    type="button"
                                    class="btn-confirm"
                                    (click)="logout()">
                                        Cerrar sesión
                                    </button>
                                    
                                </div>
                                
                            </div>

                        </div>
                    }

                </div>

            }

        </nav>

    </div>

</header>
